<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Animated Movies Make Me Cry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>154E91271CF5EF2D007205D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>154E913E1CF5EF2E007205D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>154E91491CF5EF2E007205D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
